<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.exam.entity.Score">
    <id column="scoreId" jdbcType="INTEGER" property="scoreId" />
    <result column="examCode" jdbcType="INTEGER" property="examCode" />
    <result column="studentId" jdbcType="INTEGER" property="studentId" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="ptScore" jdbcType="INTEGER" property="ptScore" />
    <result column="etScore" jdbcType="INTEGER" property="etScore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="answerDate" jdbcType="VARCHAR" property="answerDate" />
  </resultMap>
  <sql id="Base_Column_List">
    scoreId, examCode, studentId, subject, ptScore, etScore, score, answerDate
  </sql>
  <!--添加一条成绩记录-->
  <insert id="add" parameterType="com.exam.entity.Score" >
    insert into score (examCode, studentId,
      subject, ptScore, etScore,
      score, answerDate)
    values (#{examCode}, #{studentId},
      #{subject}, #{ptScore}, #{etScore},
      #{score}, #{answerDate})
  </insert>
  <!--查询所有成绩记录-->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from score
  </select>
  <!--分页-->
  <select id="findByIdPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from score
    where studentId = #{studentId} order by scoreId desc
  </select>
  <!--不分页-->
  <select id="findById" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from score
  where studentId = #{studentId}
</select>
  <!--查询每位学生的学科分数。-->
  <select id="findByExamCode" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select max(etScore) as etScore from score where examCode = #{examCode} group by studentId
  </select>








  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exam.entity.Score">
    insert into score (scoreId, examCode, studentId, 
      subject, ptScore, etScore, 
      score, answerDate)
    values (#{scoreid,jdbcType=INTEGER}, #{examcode,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, 
      #{subject,jdbcType=VARCHAR}, #{ptscore,jdbcType=INTEGER}, #{etscore,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{answerdate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exam.entity.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scoreid != null">
        scoreId,
      </if>
      <if test="examcode != null">
        examCode,
      </if>
      <if test="studentid != null">
        studentId,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="ptscore != null">
        ptScore,
      </if>
      <if test="etscore != null">
        etScore,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="answerdate != null">
        answerDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scoreid != null">
        #{scoreid,jdbcType=INTEGER},
      </if>
      <if test="examcode != null">
        #{examcode,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="ptscore != null">
        #{ptscore,jdbcType=INTEGER},
      </if>
      <if test="etscore != null">
        #{etscore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="answerdate != null">
        #{answerdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exam.entity.Score">
    update score
    <set>
      <if test="examcode != null">
        examCode = #{examcode,jdbcType=INTEGER},
      </if>
      <if test="studentid != null">
        studentId = #{studentid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="ptscore != null">
        ptScore = #{ptscore,jdbcType=INTEGER},
      </if>
      <if test="etscore != null">
        etScore = #{etscore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="answerdate != null">
        answerDate = #{answerdate,jdbcType=VARCHAR},
      </if>
    </set>
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exam.entity.Score">
    update score
    set examCode = #{examcode,jdbcType=INTEGER},
      studentId = #{studentid,jdbcType=INTEGER},
      subject = #{subject,jdbcType=VARCHAR},
      ptScore = #{ptscore,jdbcType=INTEGER},
      etScore = #{etscore,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      answerDate = #{answerdate,jdbcType=VARCHAR}
    where scoreId = #{scoreid,jdbcType=INTEGER}
  </update>
</mapper>